Frontend/.idea/*
!Frontend/.idea/codeStyles
!Frontend/.idea/inspectionProfile
*.iml
.gradle
/Frontend/local.properties
/Frontend/android-standard/androidStandard.properties
.DS_Store
/build
*/build
/captures
.externalNativeBuild
mapping.txt